.DS_Store
*.swp
Gemfile.lock
tmp/
.vagrant/
software/
puppet/.tmp
puppet/.librarian
puppet/Puppetfile.lock
puppet/modules/apt
puppet/modules/augeas
puppet/modules/augeasproviders_core
puppet/modules/concat
puppet/modules/core
puppet/modules/firewall
puppet/modules/fw
puppet/modules/hiera
puppet/modules/inifile
puppet/modules/lvm
puppet/modules/postgresql
puppet/modules/puppetdb
puppet/modules/puppetserver
puppet/modules/puppetserver_gem
puppet/modules/selinux
puppet/modules/stdlib
puppet/modules/translate

puppet/modules/java
puppet/modules/elasticsearch
puppet/modules/elastic_stack
puppet/modules/yum
puppet/modules/yumrepo_core
puppet/modules/datacat
puppet/modules/kibana
puppet/modules/nginx
puppet/modules/logstash
puppet/modules/cerebro
puppet/modules/systemd
puppet/modules/extlib
puppet/modules/archive
puppet/modules/logstash_reporter

#CORE
puppet/modules/cis_linux
puppet/modules/kmod
puppet/modules/augeasproviders_sysctl
puppet/modules/augeasproviders_grub
puppet/modules/augeasproviders_pam
puppet/modules/network
puppet/modules/timezone
puppet/modules/ntp
puppet/modules/postfix
puppet/modules/logrotate
puppet/modules/facts_core
puppet/modules/ssh
puppet/modules/sshkeys_core
puppet/modules/common